.form-group
  .input-wrapper.select
    label.input_label Event type
    .input.input_select
      input(disabled="true" value="Management")
      i.icon
        include ../../../public/svg/arrow.svg
    .dropdown
      ul