doctype html
html
  head
    title Training
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    link(rel="stylesheet", href="../css/style.pcss")
    link(href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet")
  body
    main.main__block
      .main__block-wrapper
        h1.main__title Привет
        p.main__desctiption Здесь будет верстка проектa.
        ul.main__link-list
          li.main__link-list-item
            a.main__link(href="https://pugjs.org/api/getting-started.html") Документация по PUG
          li.main__link-list-item
            a.main__link(href="https://pugjs.org/api/getting-started.html") Документация по Parcel
          li.main__link-list-item
            a.main__link(href="https://www.figma.com/file/QDYYogxt8EjLP8Km2xILX28a/Fluent-Calendar-by-Alexander-Solonikov?node-id=1%3A2") Макет для верстки
          //li.main__link-list-item Пример закоментированой строки в PUG
          li.main__link-list-item
            a.main__link(href="https://css-tricks.com/snippets/css/complete-guide-grid/") Полезный мануал по гридам

