<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="../css/style.pcss")
    title Document
  body
    .container
      aside.sidebar
        .menu
          .menu__title Menu
          .menu__item
            .menu__item-logo
              include ../../public/svg/calendar.svg
            | Calendar
          .menu__item
            .menu__item-logo
              include ../../public/svg/documents.svg
            | Documents
          .menu__item 
            .menu__item-logo
              include ../../public/svg/events.svg 
            | Events
          .menu__item
            .menu__item-logo
              include ../../public/svg/email.svg
            | Email
          .menu__item
            .menu__item-logo
              include ../../public/svg/chat.svg
            | Chat
          .menu__item
            .menu__item-logo
              include ../../public/svg/settings.svg
            | Settings
      main.main
        .content
          .header.header_border_white
            h3.title.title_dark-blue 22 March 2018
            .actions
              .search-icon
                include ../../public/svg/search.svg
              .layout-icon
                include ../../public/svg/layout.svg
          .content__schedule
            .schedule-appointemnt
              .schedule-appointemnt__time 09:00
              .schedule-appointemnt__task.schedule-appointemnt__task_purple Meet Sophia in Airport
            .schedule-appointemnt
              .schedule-appointemnt__time 10:00
              .schedule-appointemnt__task
            .schedule-appointemnt
              .schedule-appointemnt__time 11:00
              .schedule-appointemnt__task.schedule-appointemnt__task_blue Studio workshop
            .schedule-appointemnt
              .schedule-appointemnt__time 12:00
              .schedule-appointemnt__task
            .schedule-appointemnt
              .schedule-appointemnt__time 13:00
              .schedule-appointemnt__task
            .schedule-appointemnt
              .schedule-appointemnt__time 14:00
              .schedule-appointemnt__task
            .schedule-appointemnt
              .schedule-appointemnt__time 15:00
              .schedule-appointemnt__task.schedule-appointemnt__task_orange Design workshop with Johny Ive
            .schedule-appointemnt
              .schedule-appointemnt__time 16:00
              .schedule-appointemnt__task
            .schedule-appointemnt
              .schedule-appointemnt__time 17:00
              .schedule-appointemnt__task
            .schedule-appointemnt
              .schedule-appointemnt__time 18:00
              .schedule-appointemnt__task
            .schedule-appointemnt
              .schedule-appointemnt__time 19:00
              .schedule-appointemnt__task
            .schedule-appointemnt
              .schedule-appointemnt__time 20:00
              .schedule-appointemnt__task
      aside.sidebar-right
        .content
          .header.header_border_black
            .arrow
            h3.title.title_white  March 2018
            .arrow.arrow_right
          .calendar
            ul.calendar__weekdays
              li.weekday M
              li.weekday T
              li.weekday W
              li.weekday T
              li.weekday F
              li.weekday Sat
              li.weekday Sun
            ul.calendar__monthdays
              li.monthday 
                span 1
              li.monthday 
                span 2
              li.monthday 
                span 3
              li.monthday 
                span 4
              li.monthday 
                span 5
              li.monthday 
                span 6
              li.monthday 
                span 7
            ul.calendar__monthdays
              li.monthday 
                span 8
              li.monthday 
                span 9
              li.monthday 
                span 10
              li.monthday 
                span 11
              li.monthday 
                span 12
              li.monthday 
                span 13
              li.monthday 
                span 14
            ul.calendar__monthdays
              li.monthday 
                span 15
              li.monthday 
                span 16
              li.monthday 
                span 17
              li.monthday 
                span 18
              li.monthday 
                span 19
              li.monthday 
                span 20
              li.monthday 
                span 21
            ul.calendar__monthdays
              li.monthday 
                span 22
              li.monthday 
                span 23
              li.monthday 
                span 24
              li.monthday 
                span 25
              li.monthday 
                span 26
              li.monthday 
                span 27
              li.monthday 
                span 28
            ul.calendar__monthdays
              li.monthday 
                span 29
              li.monthday 
                span 30
              li.monthday_next-month 
                span 1
              li.monthday_next-month 
                span 2
              li.monthday_next-month 
                span 3
              li.monthday_next-month 
                span 4
              li.monthday_next-month 
                span 5
          .categories
            p.categories__title Your categories
            .categories-buttons
              button.category.category_purple Finance
              button.category.category_orange Management
              button.category.category_pink Design
