aside.sidebar
  .menu
    .menu__title Menu
    .menu__item
      .menu__item-logo
        include ../../public/svg/calendar.svg
      | Calendar
    .menu__item
      .menu__item-logo
        include ../../public/svg/documents.svg
      | Documents
    .menu__item 
      .menu__item-logo
        include ../../public/svg/events.svg 
      | Events
    .menu__item
      .menu__item-logo
        include ../../public/svg/email.svg
      | Email
    .menu__item
      .menu__item-logo
        include ../../public/svg/chat.svg
      | Chat
    .menu__item
      .menu__item-logo
        include ../../public/svg/settings.svg
      | Settings