.modal-wrapper.hidden
  .modal
    .modal__header
      p.modal__title Add event
      i.close-icon
        include ../../public/svg/cross.svg
    .modal__body
      .form-group
        .input-wrapper
          label.input_label(for="event-name") Event name
          .input
            input.event-name(placeholder="Type something" id="event-name" required)
      .form-group
        .input-wrapper.input_time
          label.input_label(for="from-time") From
          .input
            input.from-time(value="15:57" id="from-time" required)
        .hyphen-wrapper
          .hyphen
        .input-wrapper.input_time
          label.input_label(for="to-time") To
          .input
            input.to-time(value="20:00" id="to-time" required)
      include ./components/select.pug
      .form-group
        .input-wrapper
          label.input_label(for="event-desc") Event Description
          .input.textarea
            textarea.event-desc(placeholder="Your event description" id="event-desc")
    .modal__footer
      button.btn.btn_save(type="submit" disabled) Save
      button.btn.btn_cancel Cancel


