.modal-wrapper.hidden
  .modal
    .modal__header
      p.modal__title Add event
      i.close-icon
        include ../../public/svg/cross.svg
    .modal__body
      .form-group
        .input-wrapper
          label.input_label Event name
          .input
            input.event-name(placeholder="Type something" required)
      .form-group
        .input-wrapper.input_time
          label.input_label From
          .input
            input.from-time(value="15:57" required)
        .hyphen-wrapper
          .hyphen
        .input-wrapper.input_time
          label.input_label To
          .input
            input.to-time(value="20:00" required)
      include ./components/select.pug
      .form-group
        .input-wrapper
          label.input_label Event Description
          .input.textarea
            textarea(placeholder="Your event description")
    .modal__footer
      button.btn.btn_save(type="submit" disabled) Save
      button.btn.btn_cancel Cancel


