aside.sidebar-right
    .header.header_border_black
      .arrow.arrow_left
      h3.title.title_white  March 2018
      .arrow.arrow_right
    .calendar
      ul.calendar__weekdays
        each val in ['M', 'T', 'W', 'T', 'F', 'Sat', 'Sun']
          li.weekday= val
    .categories
      p.categories__title Your categories
      .categories-buttons
        button.category.category_purple Finance
        button.category.category_orange Management
        button.category.category_pink Design