main.main
  .content
    .header.header_border_white
      h3.title.title_dark-blue 22 March 2018
      .actions
        .search-icon
          include ../../public/svg/search.svg
        .layout-icon
          include ../../public/svg/layout.svg
    .content__schedule
      .schedule-appointemnt
        .schedule-appointemnt__time 09:00
        .schedule-appointemnt__task.schedule-appointemnt__task_purple Meet Sophia in Airport
      .schedule-appointemnt
        .schedule-appointemnt__time 10:00
        .schedule-appointemnt__task
      .schedule-appointemnt
        .schedule-appointemnt__time 11:00
        .schedule-appointemnt__task.schedule-appointemnt__task_blue Studio workshop
      .schedule-appointemnt
        .schedule-appointemnt__time 12:00
        .schedule-appointemnt__task
      .schedule-appointemnt
        .schedule-appointemnt__time 13:00
        .schedule-appointemnt__task
      .schedule-appointemnt
        .schedule-appointemnt__time 14:00
        .schedule-appointemnt__task
      .schedule-appointemnt
        .schedule-appointemnt__time 15:00
        .schedule-appointemnt__task.schedule-appointemnt__task_orange Design workshop with Johny Ive
      .schedule-appointemnt
        .schedule-appointemnt__time 16:00
        .schedule-appointemnt__task
      .schedule-appointemnt
        .schedule-appointemnt__time 17:00
        .schedule-appointemnt__task
      .schedule-appointemnt
        .schedule-appointemnt__time 18:00
        .schedule-appointemnt__task
      .schedule-appointemnt
        .schedule-appointemnt__time 19:00
        .schedule-appointemnt__task
      .schedule-appointemnt
        .schedule-appointemnt__time 20:00
        .schedule-appointemnt__task