/*Найди и подключи сброс стилей через @import */
html{
    font-family: 'Roboto', sans-serif;
}
.main{
    &__block{
        display: flex;
        justify-content: center;
    }
    &__block-wrapper{
        border: 1px solid #F3F3F3;
        padding: 24px;
        border-radius: 4px;
        box-shadow: 0px 2px 8px #F3F3F3;
    }
    &__title{
        margin: 0;
    }
}