:root {
  /*PREVENT KUTYLYJ FONT RENDERING*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*FONTS*/
  --fontRoboto: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  --fontRobotoMono: 'Roboto Mono', monospace;

  /* COLORS */
  --white: #ffffff;
  --dark-blue: #1a2d54;
  --grey-blue: #758095;
}
